# Tutorial
# ----------------------------------------------------------------------------------------------------------------------
# -- Tutorial specific files

dev-environment/wildfly/certificates/**
!dev-environment/wildfly/certificates/instructions.txt
